{% extends 'blog/base.html' %}

{% block title %}typed - home{% endblock %}

{% block content %}
<br>
  <h1>Blogs</h1>
    <ul class="list-group list-group-flush">
      {% for blog in blogs %}
        <li class="list-group-item">
          <a class="link-dark" href="{% url 'blog_info' blog.id %}">{{ blog.title }}</a>
          {% if user.username == blog.user.username or user.is_superuser %}
            <a class="link-primary" href="{% url 'edit_blog' blog.id %}">Edit</a>
            <a class="link-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
          {% endif %}
          

        </li>
      {% endfor %}
    </ul>
{% endblock %}
